*{
    margin: 0;
    padding: 0;
}
/* header styles hare  */
.header{
    background-color: #FCEEF1;
    max-height: 600px;
}
.main-home-container{
    display: flex;
    max-width: 1280px;
    align-items: center;
    text-align: justify;
}
.left-text-content{
    max-width: 50%;
}
.right-image{
    max-width: 50%;

}